.main-title {
	text-align: center;
	width: 50%;
	margin-top: 70px;
}

.column {
	width: 50%;
	float: left;
}

.lower {
	margin-top: 60px;
}

section {
	height: 400px;
	margin: 20px;
	background: #f8e0af;
	clear: both;
}

#wrapper {
	width: 100%;
	height: 100%;
	overflow: auto;
}

/* Images are not uniform sizes so there needs to be some unique sizing for each of them. There may be a better way to handle this but this is a quick fix for now. */
/* Mens images */
.shop-img-one {
	width: 600px;
}
.shop-img-two {
	width: 600px;
}
.shop-img-three {
	width: 600px;
}
.shop-img-four {
	width: 450px;
}

/* Womens images */
.shop-img-one-women {
	width: 475px;
}
.shop-img-two-women {
	width: 450px;
}
