.about-us-header {
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
}

p {
	text-align: center;
	font-size: 25px;
}

h1 {
	text-align: center;
}

body {
	background-color: var(--offwhite);
}
